# Makefile
typingtest2/.depend

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
typingtest2/typing

# GNU Global
GPATH
GRTAGS
GTAGS
